* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Narrow', Arial, sans-serif; 
}

body, html {
    height: 100%;
}

.background-container {

    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.pexels.com/photos/1552252/pexels-photo-1552252.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background-color: black;
    padding: 40px;
    border-radius: 15px;
    width: 350px;
    text-align: left;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.login-card h1 {
    color: white;
    font-size: 3rem;
    margin-bottom: 25px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: #555;
}

input::placeholder {
    color: #888;
    font-weight: bold;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #0d4771; 
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #125a8f;
}